<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login/loginForm.css}">
</head>
<body>
<div class="container">
  <form th:action th:object="${login}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}" class="error-container">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
    </div>

    <div class="user-Info">
        <div>
          <label for="loginId">ID</label>
          <input th:errorclass="field-error" type="text" id="loginId" th:field="*{loginId}" placeholder="아이디를 입력해주세요.">
          <span class="field-error" th:errors="*{loginId}"></span>
        </div>

        <div>
          <label for="loginId">Password</label>
          <input th:errorclass="field-error" type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요.">
          <span class="field-error" th:errors="*{password}"></span>
        </div>
    </div>

    <div class="btn">
      <button type="submit">로그인</button>
      <button type="button" th:onclick="|location.href='@{/add/user}'|">회원가입</button>
      <button type="button" th:onclick="|location.href='@{/}'|">취소</button>
    </div>

  </form>
</div>

</body>
</html>